.st_home_hero {
	text-align: center;
	h1 {
		max-width: 77rem;
		margin-inline: auto;
	}
	.home_hero_text {
		margin-block: 2.4rem 3.2rem;
	}
	.home_hero_video {
		overflow: hidden;
		border-radius: 12px;
		position: relative;
		margin-top: var(--space-3);
	}
	.play-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include flex-center;
		path {
			@include st;
		}
		&:hover {
			path {
				fill: var(--color-1);
			}
		}
	}
}
