.st_inner_hero_inner {
	@include flex-between;
	align-items: center;
	@include limbo-min {
		.left {
			width: 45%;
		}
		.right {
			width: 49%;
		}
	}
	.left {
		.st_intro {
			text-align: left;
		}
		.intro_title  {
			font-size: var(--font-size-1);
		}
		@include tab-max {
			margin-bottom: 4rem;
		}
	}
	.intro_text {
		font-size: 20px;
	}
}
.st_inner_hero_2 {
	img {
		border-radius: 12px;
		margin-bottom: var(--space-3);
	}
}
.st_inner_hero_2_inner {
	@include limbo-min {
		@include flex-between;
		align-items: flex-end;
		.left {
			width: 48%;
		}
		.right {
			width: 48%;
			max-width: 560px;
		}
	}
	.hero-link {
		color: #007F9B;
		margin-left: 3.2rem;
		@include mob-only {
			text-align: center;
			width: 100%;
			margin-top: 3.2rem;
			margin-left: 0;
			display: block;
		}
	}

}
